openapi: 3.1.0
info:
  version: 25.12.0
  title: Procountor API
servers:
  - url: "https://nemo.procountor.com/api"
tags:
  - name: Auth
    description: Authentication, login, and token exchange.
  - name: Invoices
    description: Create, update, search, and manage invoices.
  - name: Business partners
    description: Search and manage business partners and partner groups.
  - name: Ledger receipts
    description: Read and manage ledger receipts and related workflow actions.
  - name: Attachments
    description: Upload, download, and manage attachments.
  - name: Dimensions
    description: Work with dimensions and dimension items.
  - name: Products
    description: Product listing endpoints.
  - name: Persons
    description: Search and manage persons.
  - name: Reports
    description: Generate reports.
  - name: Cost receipts
    description: Create and manage cost receipts.
  - name: Cost centers
    description: Cost center lookup endpoints.
  - name: Chart of accounts
    description: Chart of accounts lookup endpoints.
  - name: Company
    description: Company information endpoints.
  - name: Fiscal years
    description: Fiscal year lookup endpoints.
  - name: VATs
    description: VAT settings and lookup endpoints.
paths:
  /attachments:
    post:
      operationId: saveAttachment
      summary: Add a new attachment.
      description: "Using this endpoint you can add an attachment. The attachment can be of any type but limited to max 10000000 bytes. Content-type for the request is multipart/form-data. Type for the meta data is application/json, see Attachment model."
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                meta:
                  $ref: "#/components/schemas/Attachment"
                file:
                  type: string
                  format: binary
              required:
                - file
                - meta
      responses:
        "200":
          description: Attachment was successfully added.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Attachments
  "/attachments/{attachmentId}":
    patch:
      operationId: renameAttachment
      summary: Renames an attachment.
      description: Renames an attachment based on the given attachment ID. The file extension can't be changed. Other properties than the filename can't be changed.
      parameters:
        - name: name
          in: query
          description: Name of the attachment file
          schema:
            type: string
          example: example-pdf2.pdf
        - name: attachmentId
          in: path
          description: ID of the attachment
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentRename"
      responses:
        "200":
          description: Attachment was successfully renamed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Attachments
    delete:
      operationId: deleteAttachment
      summary: Delete an attachment.
      description: Deletes an attachment based on a given attachment ID.
      parameters:
        - name: attachmentId
          in: path
          description: ID of the attachment
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Attachment was successfully deleted.
          content:
            application/json:
              schema:
                type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Attachments
  "/attachments/{attachmentId}/content":
    get:
      operationId: getAttachmentContent
      summary: Get attachment content.
      parameters:
        - name: attachmentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/BinaryContentResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Attachments
  /businesspartners:
    get:
      operationId: searchBusinessPartners
      summary: Finds business partners matching search criteria.
      description: "Returns basic information: register id, name, billing address, id, customer no, partner type, active/inactive. This endpoint supports name and identifier parameters in HTTP header."
      parameters:
        - name: identifierType
          in: query
          description: Business identifier type of the partner
          schema:
            type: string
          example: FN
        - name: customerNumber
          in: query
          description: Customer number
          schema:
            type: string
          example: "100015"
        - name: mainGroup
          in: query
          description: Main group
          schema:
            type: string
          example: Main
        - name: partnerGroup
          in: query
          description: Business Partner Group
          schema:
            type: string
          example: Export/Import
        - name: type
          in: query
          description: Type of business partner
          schema:
            type: string
            enum:
              - CUSTOMER
              - SUPPLIER
              - PERSON
          example: CUSTOMER
        - name: orderById
          in: query
          description: Order the results by invoice ID
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: previousId
          in: query
          description: Previous invoice ID for pagination
          schema:
            type: integer
          example: 123456
        - name: active
          in: query
          description: Status of business partner
          schema:
            type: boolean
            default: true
        - name: versionStartDate
          in: query
          description: Start date of the search (business partner updated date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-08-31T00:00:00Z"
        - name: versionEndDate
          in: query
          description: End date of the search (business partner updated date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-12-31T00:00:00Z"
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Invoices were successfully found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartnerSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
  /businesspartners/groups:
    get:
      operationId: getPartnerGroups
      summary: Finds business partners groups matching search criteria.
      description: Returns business partner groups ordered by group ID.
      parameters:
        - name: name
          in: query
          description: Business partner group name. Uses substring matching.
          schema:
            type: string
          example: Test group
        - name: type
          in: query
          description: Business partner group type.
          schema:
            type: string
            enum:
              - CUSTOMER
              - SUPPLIER
              - PERSON
          example: CUSTOMER
        - name: active
          in: query
          description: Status of business partner group.
          schema:
            type: boolean
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Business partner groups were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartnerGroupSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
    post:
      operationId: createBusinessPartnerGroup
      summary: Create a new business partner group.
      description: Create a new business partner group with given data.
      requestBody:
        description: Business partner group data to add
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessPartnerGroup"
      responses:
        "200":
          description: Business partner group was successfully created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartnerGroup"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
  "/businesspartners/groups/{id}":
    get:
      operationId: getPartnerGroup
      summary: Get business partners group.
      description: Returns business partner group with requested group ID.
      parameters:
        - name: id
          in: path
          description: ID of the partner group
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Business partner group were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartnerGroup"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
    put:
      operationId: updateBusinessPartnerGroup
      summary: Update a business partner group.
      description: Update a business partner group data.
      parameters:
        - name: id
          in: path
          description: Business partner group identifier
          required: true
          schema:
            type: integer
      requestBody:
        description: Business partner group data to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessPartnerGroup"
      responses:
        "200":
          description: Business partner group was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartnerGroup"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
  /businesspartners/personaldetails:
    get:
      operationId: getPersonalDetails
      summary: Get person details for the current user.
      description: "Returns basic information from the person register for the currently logged in user. Includes eg. name, address, invoicing information and payment information. For more information, you can call GET /persons/{id}"
      responses:
        "200":
          description: Person details were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonalDetails"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
  "/businesspartners/{id}":
    get:
      operationId: getBusinessPartner
      summary: Get a business partner.
      description: Endpoint returns BusinessPartner for given id with all details. Also accepts multiple comma-separated ids. Max 200 ids per request.
      parameters:
        - name: id
          in: path
          description: ID of the business partner
          required: true
          schema:
            type: string
            format: multi
      responses:
        "200":
          description: The partner was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartner"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
    put:
      operationId: putBusinessPartner
      summary: Update a business partner.
      description: PUT /businesspartners/<id> replaces all the details of an existing business partner. Use PATCH /businesspartners/<id> if you need the previous functionality to update values of specific fields only.
      parameters:
        - name: id
          in: path
          description: Business partner identifier
          required: true
          schema:
            type: integer
      requestBody:
        description: Business partner data to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessPartner"
      responses:
        "200":
          description: Business partner was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartner"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
    patch:
      operationId: updateBusinessPartner
      summary: Update a business partner.
      description: "Supported customer and supplier business partners. The fields that are supported are: id, name, type (CUSTOMER and SUPPLIER only), address (but NOT billing address nor delivery address), invoicing info and payment info. To update a partner, it's required to provide version, which is the last modification time. It can be provided as query param or in request body."
      parameters:
        - name: id
          in: path
          description: Business partner identifier
          required: true
          schema:
            type: integer
        - name: version
          in: query
          description: Business partner last modification time. It is required if not filled in the request body.
          required: false
          schema:
            type: string
      requestBody:
        description: Business partner data to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessPartner"
      responses:
        "200":
          description: Business partner was successfully updated.
          content:
            application/json:
              schema:
                type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
  "/businesspartners/{id}/defaults/accounts":
    get:
      operationId: getDefaultAccounts
      summary: Get default accounts of business partner.
      description: Returns default accounts for a business partner with the given ID with vat information. Default accounts are not available for business partner type 'PERSON'
      parameters:
        - name: id
          in: path
          description: ID of the business partner
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Default accounts were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartnerDefaultAccounts"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Business partners
  /coa:
    get:
      operationId: getChartOfAccount
      summary: Get the chart of accounts.
      description: Returns the chart of accounts for the current environment. It can be modified on the Chart of accounts page in Procountor.
      responses:
        "200":
          description: The chart of accounts was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerAccounts"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      externalDocs:
        url: "https://support.procountor.fi/hc/en-us/articles/360019455298-Chart-of-accounts"
      tags:
        - Chart of accounts
  /company:
    get:
      operationId: getCompanyInfo
      summary: Get current company info.
      description: Returns basic information of the currently logged in company.
      responses:
        "200":
          description: Company info was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyInfoResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Company
  "/costcenter/{ledgerReceiptId}":
    get:
      operationId: getCostCenter
      summary: Get cost center dimension values.
      parameters:
        - name: ledgerReceiptId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Cost center was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenter"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Cost centers
  /costreceipt:
    get:
      operationId: searchCostReceipts
      summary: Search cost receipts.
      parameters:
        - name: createdStartDate
          in: query
          description: Start date of the search (created date).
          required: false
          schema:
            type: string
            format: date
          example: "2024-01-27"
      responses:
        "200":
          description: Cost receipts were successfully found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReceiptSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Cost receipts
    post:
      operationId: createCostReceipt
      summary: Create a new cost receipt.
      requestBody:
        description: Cost receipt data to save
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CostReceipt"
      responses:
        "201":
          description: Cost receipt was successfully saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReceipt"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Cost receipts
  "/costreceipt/{costReceiptId}":
    get:
      operationId: getCostReceipt
      summary: Get a cost receipt.
      parameters:
        - name: costReceiptId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Cost receipt was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReceipt"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Cost receipts
  /dimensions:
    get:
      operationId: getDimensions
      summary: Get all dimensions with dimension items.
      description: Returns a list of all dimensions and dimension items for the current company. Dimensions can be set on the Dimensions page in Procountor.
      parameters:
        - name: name
          in: query
          description: Name of the dimension. Supports partial search.
          required: false
          schema:
            type: string
        - name: codeName
          in: query
          description: Name of the dimension item. Supports partial search.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Dimensions were successfully returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dimension"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      externalDocs:
        url: "https://support.procountor.fi/hc/en-us/articles/360000241838-Dimensioning"
      tags:
        - Dimensions
  "/dimensions/{dimensionId}":
    get:
      operationId: getDimension
      summary: Get a dimension with dimension items.
      description: Returns a specified dimension with its dimension items.
      parameters:
        - name: dimensionId
          in: path
          description: Dimension identifier
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Dimensions were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dimension"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Dimensions
    put:
      operationId: updateDimension
      summary: Update dimension.
      description: This endpoint allows to update a dimension name
      parameters:
        - name: dimensionId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DimensionName"
      responses:
        "200":
          description: The dimension was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DimensionName"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Dimensions
  "/dimensions/{dimensionId}/items":
    post:
      operationId: addDimensionItem
      summary: Create a new item for dimension.
      description: This endpoint creates a new item for dimension identified by id.
      parameters:
        - name: dimensionId
          in: path
          description: Dimension identifier
          required: true
          schema:
            type: integer
      requestBody:
        description: Dimension item data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DimensionItem"
      responses:
        "200":
          description: The dimension was successfully created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DimensionItem"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Dimensions
    put:
      operationId: updateDimensionItem
      summary: Update item in dimension.
      description: This endpoint modifies an item for dimension identified by id.
      parameters:
        - name: dimensionId
          in: path
          description: Dimension identifier
          required: true
          schema:
            type: integer
      requestBody:
        description: Dimension item data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DimensionItem"
      responses:
        "200":
          description: The dimension was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DimensionItem"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Dimensions
  /fiscalyears:
    get:
      operationId: getFiscalYears
      summary: List fiscal years.
      description: "Lists fiscal years ordered by their start date, from newest to oldest. Tracking periods, if exist, are in chronological order. Fiscal years can be edited on the Fiscal years page in Procountor."
      responses:
        "200":
          description: Fiscal years were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FiscalYears"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      externalDocs:
        url: "http://support.procountor.com/en/kirjanpito/tilikaudet.html."
      tags:
        - Fiscal years
  /invoices:
    get:
      operationId: searchInvoice
      summary: Search invoices.
      description: "Search invoices. Returns a list containing basic information for the invoices. The ID in each result entry can be used to fetch complete invoice details with the GET /invoices/{invoiceId} endpoint. Supports purchase, purchase order, sales, sales order, self-assessed tax, travel and expense (bill of charges) invoices."
      parameters:
        - name: status
          in: query
          description: Invoice status
          schema:
            type: array
            items:
              type: string
              format: multi
              enum:
                - EMPTY
                - UNFINISHED
                - NOT_SENT
                - SENT
                - RECEIVED
                - PAID
                - PAYMENT_DENIED
                - VERIFIED
                - APPROVED
                - INVALIDATED
                - PAYMENT_QUEUED
                - PARTLY_PAID
                - PAYMENT_SENT_TO_BANK
                - MARKED_PAID
                - STARTED
                - INVOICED
                - OVERRIDDEN
                - DELETED
                - UNSAVED
                - PAYMENT_TRANSACTION_REMOVED
          example:
            - UNFINISHED
        - name: startDate
          in: query
          description: Start date of the search (invoice billing date)
          schema:
            type: string
            format: date
          example: "2016-08-31"
        - name: endDate
          in: query
          description: End date of the search (invoice billing date)
          schema:
            type: string
            format: date
          example: "2016-08-31"
        - name: createdStartDate
          in: query
          description: Start date of the search (invoice created date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-08-31T00:00:00"
        - name: createdEndDate
          in: query
          description: End date of the search (invoice created date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-12-31T00:00:00"
        - name: versionStartDate
          in: query
          description: Start date of the search (invoice updated date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-08-31T00:00:00"
        - name: versionEndDate
          in: query
          description: End date of the search (invoice updated date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-12-31T00:00:00"
        - name: dueStartDate
          in: query
          description: Start date of the search (invoice due date)
          schema:
            type: string
            format: date
          example: "2016-08-31"
        - name: dueEndDate
          in: query
          description: End date of the search (invoice due date)
          schema:
            type: string
            format: date
          example: "2016-12-31"
        - name: types
          in: query
          description: "Invoice types. Supports more than one invoice status, separated by comma"
          schema:
            type: array
            items:
              type: string
              format: multi
              enum:
                - PERIODIC_TAX_RETURN
                - PURCHASE_INVOICE
                - PURCHASE_ORDER
                - SALES_INVOICE
                - SALES_ORDER
                - TRAVEL_INVOICE
                - BILL_OF_CHARGES
          example:
            - SALES_INVOICE
        - name: businessPartnerId
          in: query
          description: Search invoices with given business partner ID
          schema:
            type: integer
          example: 123456
        - name: factoringContractId
          in: query
          description: Search invoices with given factoring contract Id
          schema:
            type: integer
          example: 123456
        - name: originalInvoiceNumber
          in: query
          description: Search invoices with given original invoice number
          schema:
            type: string
          example: "123456"
        - name: invoiceNumber
          in: query
          description: Search invoices with given invoice number
          schema:
            type: integer
          example: 123456
        - name: searchTerm
          in: query
          description: "Search invoices by searchTerm. Allows searching by counterpartyAddress.name, invoiceNumber and additionalInformation."
          schema:
            type: string
          example: Name1
        - name: previousId
          in: query
          description: Previous invoice ID for pagination
          schema:
            type: integer
          example: 123456
        - name: orderById
          in: query
          description: Order the results by invoice ID
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: orderByDate
          in: query
          description: Order the results by date
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: orderByCreated
          in: query
          description: Order the results by created date
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: orderByVersion
          in: query
          description: Order the results by version (updated date)
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/page"
        - name: invoiceChannel
          in: query
          description: Invoice channel
          schema:
            type: array
            items:
              type: string
              format: multi
              enum:
                - EMAIL
                - MAIL
                - ELECTRONIC_INVOICE
                - EDIFACT
                - PAPER_INVOICE
                - NO_SENDING
          example:
            - EMAIL
      responses:
        "200":
          description: Invoices were successfully found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
    post:
      operationId: saveInvoice
      summary: Create a new invoice.
      description: "Supports expense claim, purchase, sales, sales order, purchase order and travel invoices."
      parameters:
        - name: addCollectionPenalCosts
          in: query
          description: "Supported only for SALES_INVOICE type. Default is false. If true, automatically adds the collection cost(s), if payment reminders were sent earlier to the business partner and/or penal cost, if the business partner had paid the earlier invoice late. These costs are added only if Automatic handling of collection and penal costs setting is enabled, and collection costs product and penal expense product have been defined."
          required: false
          schema:
            type: boolean
      requestBody:
        description: Invoice data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invoice"
      responses:
        "200":
          description: The invoice was successfully saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  /invoices/personalapprovals:
    get:
      operationId: getInvoicesForPersonalApprovals
      summary: Get list of ids of invoices which waiting for approval.
      description: Returns list of invoice ids that are waiting for currently logged in user's approval (also if they are substitutes).
      parameters:
        - name: types
          in: query
          description: Invoice type.
          required: true
          schema:
            type: string
            enum:
              - PURCHASE_INVOICE
              - TRAVEL_INVOICE
              - BILL_OF_CHARGES
          example: PURCHASE_INVOICE
      responses:
        "200":
          description: The invoice image was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceIds"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  /invoices/personalverifications:
    get:
      operationId: getInvoicesForPersonalVerifications
      summary: Get list of ids of invoices which waiting for verification.
      description: Returns list of invoice ids that are waiting for currently logged in user's verification (also if they are substitutes).
      parameters:
        - name: types
          in: query
          description: Invoice type.
          required: true
          schema:
            type: string
            enum:
              - PURCHASE_INVOICE
              - TRAVEL_INVOICE
              - BILL_OF_CHARGES
          example: PURCHASE_INVOICE
      responses:
        "200":
          description: The invoice image was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceIds"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}":
    get:
      operationId: getInvoice
      summary: Get an invoice.
      description: "Returns the requested invoice. Also accepts multiple comma-separated ids. Max 200 ids per request.Supports expense (bill of charges), purchase, purchase order, sales, sales order, self-assessed tax and travel invoices."
      parameters:
        - name: invoiceId
          in: path
          description: ID of the invoice
          required: true
          schema:
            type: string
            format: multi
      responses:
        "200":
          description: The invoice was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/approve":
    put:
      operationId: approveInvoice
      summary: Approve an invoice.
      description: "Supports purchase, travel, expense and sales invoices. Configure invoice circulation settings in the Procountor environment before using this. Note that for sales invoice comment will be ignored."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: updateInventory
          in: query
          description: Enable inventory management update
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        description: Checking event data
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckingEvent"
      responses:
        "200":
          description: The invoice was successfully approved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/comments":
    get:
      operationId: getInvoiceComments
      summary: Get invoice comments.
      description: "Returns comments for the given invoice. Supported invoice types: TRAVEL_INVOICE, BILL_OF_CHARGES and PURCHASE_INVOICE."
      parameters:
        - name: readByAllTaggedUsers
          in: query
          description: "If true, only those comments that have tagged users and comments have been read by all tagged users are returned. Comments without tagged users aren't returned. If false, only those comments that have tagged users but comments have not been read by all tagged users are returned. Comments without tagged users aren't returned."
          required: false
          schema:
            type: boolean
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: The invoice was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comments"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
    post:
      operationId: saveInvoiceComment
      summary: Adds comment to invoice.
      description: "Add comment to an invoice identified by id. Supported invoice types: TRAVEL_INVOICE, BILL_OF_CHARGES and PURCHASE_INVOICE"
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      requestBody:
        description: Comment data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Comment"
      responses:
        "200":
          description: Invoice was successfully commented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/comments/taggableusers":
    get:
      operationId: getTaggeableUsers
      summary: Get list of users who can be tagged in given invoice.
      description: "Returns users who can be tagged for the given invoice. Supported invoice types: TRAVEL_INVOICE, BILL_OF_CHARGES and PURCHASE_INVOICE"
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: Taggable users were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaggableUsers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/comments/{commentId}":
    get:
      operationId: getCommentById
      summary: Get comment for given invoice and comment identifiers.
      description: "Returns the requested invoice comment. Supported invoice types: TRAVEL_INVOICE, BILL_OF_CHARGES and PURCHASE_INVOICE"
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: commentId
          in: path
          description: ID of the comment
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Comment were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentWithTaggedUsers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/comments/{commentId}/read":
    put:
      operationId: setCommentReadByUser
      summary: Marks comment as read.
      description: "Sets the invoice comment as read by current user. Supported invoice types are TRAVEL_INVOICE, BILL_OF_CHARGES and PURCHASE_INVOICE."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: commentId
          in: path
          description: ID of the comment
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Comment marked as read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/image":
    get:
      operationId: getInvoiceImage
      summary: Get an invoice page image.
      description: Returns an invoice page image based on given invoice ID and page number.
      parameters:
        - name: page
          in: query
          description: The invoice page number.
          schema:
            type: integer
            default: 1
          example: 2
        - name: format
          in: query
          description: Invoice image format.
          schema:
            type: string
            default: PNG
            enum:
              - PNG
              - JPG
              - JPEG
          example: PNG
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          $ref: "#/components/responses/BinaryContentResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/invalidate":
    put:
      operationId: markInvoiceAsInvalidated
      summary: Set specified invoice to invalidated state.
      description: "Invoice can be set as invalidated only if it's fiscal year and it's accounting period are open. Supported invoice types: BILL_OF_CHARGES, PURCHASE_INVOICE, SALES_INVOICE, TRAVEL_INVOICE."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: The invoice was successfully marked as invalidated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/notes":
    put:
      operationId: addNotesToInvoice
      summary: Update notes for the specified invoice.
      description: "The notes of an invoice can be modified regardless of the invoice status. Supported invoice types: BILL_OF_CHARGES, PURCHASE_INVOICE, SALES_INVOICE, TRAVEL_INVOICE."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      requestBody:
        description: Invoice notes data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceNotes"
      responses:
        "200":
          description: The invoice notes were successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/paymentevents":
    get:
      operationId: searchPaymentEvents
      summary: Get payment events.
      description: Returns payment events for the requested invoice.
      parameters:
        - name: previousId
          in: query
          description: Previous invoice ID for pagination
          schema:
            type: integer
          example: 123456
        - name: orderById
          in: query
          description: Order the results by invoice ID
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: The payment events for the given invoice was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEventSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/paymentevents/markpaid":
    put:
      operationId: markInvoiceAsPaid
      summary: Mark as paid.
      description: "Mark payment events as paid. Supported invoice types: SALES_INVOICE, PURCHASE_INVOICE, TRAVEL_INVOICE, SALARY, PERIODIC_TAX_RETURN, BILL_OF_CHARGES. Payment event should always be requested with an invoice currency. In case if currency on the invoice and in the environment are different, amount is converted to environment currency using currency rate from the invoice."
      parameters:
        - name: addPenalExpense
          in: query
          description: "Supported only for SALES_INVOICE type. Default is false. When marking the overdue sales invoice as paid, if you want to automatically include a penal expense in the business partner's next sales invoice, then call the endpoint with addPenalExpense=true. Automatic handling of collection and penal costs setting must be enabled prior to this and penal expense product must be already defined."
          required: false
          schema:
            type: boolean
        - $ref: "#/components/parameters/invoiceId"
      requestBody:
        description: Mark invoice as paid data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkInvoiceAsPaid"
      responses:
        "200":
          description: Request to mark invoice as paid processed correctly.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/paymentevents/{paymentEventId}":
    get:
      operationId: getPaymentEventByIdAndInvoiceId
      summary: Get payment event by specified payment event id and invoice id.
      description: Returns single payment event for given payment event id and invoice id.
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: paymentEventId
          in: path
          description: Payment event identifier
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The single payment event for the given invoice id and payment event id was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEvent"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
    delete:
      operationId: removePaymentEvent
      summary: Remove a payment event.
      description: "Remove a payment event which is not actually related to paying through the software i.e. with the status 'marked paid'. For other payments please use DELETE payments/{paymentId} endpoint."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: paymentEventId
          in: path
          description: Payment identifier
          required: true
          schema:
            type: integer
      responses:
        "202":
          description: Request for confirmation of remove payment event sent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionIdentifier"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/reject":
    put:
      operationId: rejectInvoice
      summary: Set specified invoice to rejected state / payment denied.
      description: "Invoice can be set as rejected only if it's fiscal year and it's accounting period are open. Supports purchase, sales, travel and expense (bill of charges) invoices."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      requestBody:
        description: Optional comment
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckingEvent"
      responses:
        "200":
          description: The invoice was successfully rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/send":
    put:
      operationId: send
      summary: Send a sales invoice to customer.
      description: Supports sales invoices. Only invoices with status as 'NOT_SENT' and 'SENT' can be send.
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: Request to send the invoice processed correctly.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/sendToCirculation":
    put:
      operationId: sendToCirculation
      summary: Send an invoice to circulation.
      description: "Supports travel, expense and purchase invoices. Invoice circulation needs to be configured and enabled in Procountor settings. For travel and expanse invoices it marks invoice status as 'RECEIVED' when it is in 'UNFINISHED' status."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: The invoice was successfully send to circulation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/transactions":
    get:
      operationId: getInvoiceTransactions
      summary: Get an invoice transactions.
      description: "Returns the requested invoice transactions. "
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: The invoice transactions was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceTransactions"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/unfinished":
    put:
      operationId: markInvoiceAsUnfinished
      summary: Set specified invoice to unfinished state.
      description: "Invoice can be set as unfinished only if it's fiscal year and it's accounting period are open. Supported invoice types: BILL_OF_CHARGES, PURCHASE_INVOICE, SALES_INVOICE, TRAVEL_INVOICE."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          description: The invoice was successfully marked as unfinished.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  "/invoices/{invoiceId}/verify":
    put:
      operationId: verifyInvoice
      summary: Verify an invoice.
      description: "Supports purchase, travel and expense invoices. Configure invoice circulation settings in the Procountor environment before using this."
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      requestBody:
        description: Checking event data
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckingEvent"
      responses:
        "200":
          description: The invoice was successfully verified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Invoices
  /ledgerreceipts:
    get:
      operationId: searchLedgerReceipt
      summary: Search ledger receipts.
      description: "Search ledger receipts. Returns a list containing basic information for the receipts. The receiptID in each result entry can be used to fetch complete receipt details with the GET /ledgerereceipts/{receiptId} endpoint. Supported ledger receipt types are journals, sales invoice ledger receipts, travel invoice ledger receipts, expense invoice ledger receipts, purchase ledger invoice receipts, VAT form ledger receipts, salary ledger receipts, employer contribution ledger receipts, purchase order ledger receipts, sales order ledger receipts, bank statement as a receipt ledger receipts, receipt for opening the accounts ledger receipts, reference payment ledger receipts, tracking period opening receipt ledger receipts, self-assessed tax ledger receipts and VAT summary ledger receipts."
      parameters:
        - name: startDate
          in: query
          description: Start date of the search (ledger receipt date)
          schema:
            type: string
            format: date
          example: "2016-08-31"
        - name: endDate
          in: query
          description: End date of the search (ledger receipt date)
          schema:
            type: string
            format: date
          example: "2016-08-31"
        - name: createdStartDate
          in: query
          description: Start date of the search (ledger created date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-08-31T00:00:00"
        - name: createdEndDate
          in: query
          description: End date of the search (ledger created date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-12-31T00:00:00"
        - name: versionStartDate
          in: query
          description: Start date of the search (ledger updated date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-08-31T00:00:00"
        - name: versionEndDate
          in: query
          description: End date of the search (ledger updated date)
          schema:
            type: string
            format: date-time
            x-ogen-time-format: 2006-01-02T15:04:05
          example: "2016-12-31T00:00:00"
        - name: types
          in: query
          description: Ledger receipt types
          schema:
            type: array
            items:
              type: string
              format: multi
              enum:
                - JOURNAL
                - PURCHASE_INVOICE
                - SALES_INVOICE
                - PERIODIC_TAX_RETURN
                - TRAVEL_INVOICE
                - BILL_OF_CHARGES
                - VAT_FORM
                - SALARY
                - EMPLOYER_CONTRIBUTION
                - PURCHASE_ORDER
                - SALES_ORDER
                - BANK_STATEMENT_AS_RECEIPT
                - RECEIPT_FOR_OPENING_ACCOUNTS
                - REFERENCE_PAYMENT
                - TRACKING_PERIOD_OPENING_RECEIPT
          example:
            - JOURNAL
        - name: previousId
          in: query
          description: Previous Id for pagination
          schema:
            type: integer
          example: 123456
        - name: orderById
          in: query
          description: Order the results by ledger receipt ID
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: orderByDate
          in: query
          description: Order the results by date
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: orderByCreated
          in: query
          description: Order the results by created date
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - name: orderByVersion
          in: query
          description: Order the results by version (updated date)
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/page"
        - name: status
          in: query
          description: Ledger receipt status
          schema:
            type: string
          example: UNFINISHED
      responses:
        "200":
          description: Ledger receipts were successfully found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerReceiptSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
    post:
      operationId: saveLedgerReceipt
      summary: Create a new ledger receipt.
      description: Endpoint to create a new ledger receipt. Supports journal type ledger receipts. Use "createReconciliation=true" parameter to generate reconciliation row automatically. See Transaction model for more details
      parameters:
        - name: createReconciliation
          in: query
          description: Enable automatic generation of reconciliation row
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        description: Ledger receipt data to save
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LedgerReceipt"
      responses:
        "200":
          description: Ledger receipt was successfully saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerReceipt"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
  "/ledgerreceipts/{receiptId}":
    get:
      operationId: getLedgerReceipt
      summary: Get a ledger receipt.
      description: "Returns the requested ledger receipt. Also accepts multiple comma-separated ids. Max 200 ids per request.Supported ledger receipt types are journals, sales invoice ledger receipts, travel invoice ledger receipts, expense invoice ledger receipts, purchase ledger invoice receipts, VAT form ledger receipts, salary ledger receipts, employer contribution ledger receipts, purchase order ledger receipts, sales order ledger receipts, bank statement as a receipt ledger receipts, receipt for opening the accounts ledger receipts, reference payment ledger receipts, tracking period opening receipt ledger receipts, self-assessed tax ledger receipts and VAT summary ledger receipts."
      parameters:
        - name: receiptId
          in: path
          description: Ledger receipt identifier
          required: true
          schema:
            type: string
            format: multi
      responses:
        "200":
          description: Ledger receipt was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerReceipt"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
    put:
      operationId: updateLedgerReceipt
      summary: Update a ledger receipt.
      description: 'Supported ledger receipt types are journals, sales invoice ledger receipts, travel invoice ledger receipts, expense invoice ledger receipts and purchase ledger invoice receipts. For defining the ledger accounts, dimensions, VAT status or other accounting information for an invoice, use this endpoint.Use "createReconciliation=true" parameter to generate reconciliation row automatically. See Transaction model for more details'
      parameters:
        - name: createReconciliation
          in: query
          description: Enable automatic generation of reconciliation row
          required: false
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/receiptId"
      requestBody:
        description: Ledger receipt data to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LedgerReceipt"
      responses:
        "200":
          description: Ledger receipt was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerReceipt"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
  "/ledgerreceipts/{receiptId}/approve":
    put:
      operationId: approveLedgerReceipt
      summary: Approve a ledger receipt.
      description: "Receipt can be set as approved only if it's status is UNFINISHED. Supported receipt types: JOURNAL."
      parameters:
        - $ref: "#/components/parameters/receiptId"
      responses:
        "200":
          description: The receipt was successfully marked as approved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
  "/ledgerreceipts/{receiptId}/invalidate":
    put:
      operationId: markLedgerReceiptAsInvalidated
      summary: Invalidate specified receipt
      description: "Receipt can be invalidated only if it's fiscal year and it's accounting period are open. Supported receipt types: JOURNAL."
      parameters:
        - $ref: "#/components/parameters/receiptId"
      responses:
        "200":
          description: The receipt was successfully invalidated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
  "/ledgerreceipts/{receiptId}/transactions/{transactionId}/dimensions":
    put:
      operationId: updateLedgerReceiptTransactionDimensions
      summary: Update a ledger receipt's single transaction dimensions.
      description: "Supported ledger receipt types are journals, sales invoice ledger receipts, travel invoice ledger receipts, expense invoice ledger receipts and purchase ledger invoice receipts. Existing dimensions will be replaces with the requested. If empty list provided then dimensions will be removed from transaction. Transactions with dimensions data can be replaced by calling PUT /ledgerreceipts endpoint"
      parameters:
        - $ref: "#/components/parameters/receiptId"
        - name: transactionId
          in: path
          description: Transaction identifier
          required: true
          schema:
            type: integer
      requestBody:
        description: Dimension items values to set for the given transaction
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DimensionItemValueList"
      responses:
        "200":
          description: Dimensions were successfully updated for the transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerReceipt"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
  "/ledgerreceipts/{receiptId}/unfinished":
    put:
      operationId: markLedgerReceiptAsUnfinished
      summary: Set specified receipt to unfinished state.
      description: "Receipt can be set as unfinished only if it's fiscal year and it's accounting period are open. Supported receipt types: JOURNAL."
      parameters:
        - $ref: "#/components/parameters/receiptId"
      responses:
        "200":
          description: The receipt was successfully marked as unfinished.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoMessage"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Ledger receipts
  /login:
    post:
      operationId: login
      summary: Login to a company.
      description: Exchanges user credentials and selected company id(s) for API tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security: []
      tags:
        - Auth
  /login/companies:
    post:
      operationId: getLoginCompanies
      summary: Get accessible companies for login.
      description: Returns the list of companies the given user can access. Response also sets a short-lived login cookie used by the /login endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginCompaniesRequest"
      responses:
        "200":
          description: Companies were successfully returned.
          headers:
            Set-Cookie:
              description: Login cookie used by the /login endpoint.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LoginCompany"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security: []
      tags:
        - Auth
  /persons:
    get:
      operationId: getPersons
      summary: Get the list of persons matching search criteria.
      description: "Returns the list of persons with basic information: id, lastname, firstname, address, identifier, identifierType and personNumber."
      parameters:
        - name: personNumber
          in: query
          description: Person number Also partial - search matches returned.
          required: false
          schema:
            type: string
          example: "100015"
        - name: mainPersonGroup
          in: query
          description: Main group name of type PERSON Only exact - search match returned.
          required: false
          schema:
            type: string
          example: Main Group
        - name: personGroupId
          in: query
          description: Unique identifier of Business Partner Group of type PERSON
          required: false
          schema:
            type: integer
          example: 123456
        - name: includeInactive
          in: query
          description: Include inactive persons
          required: false
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/page"
        - name: orderById
          in: query
          description: Order the results by Person ID
          required: false
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
          example: ASC
      responses:
        "200":
          description: List of persons was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonSearchResult"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Persons
  "/persons/{id}":
    get:
      operationId: getPersonById
      summary: Get person data
      description: Returns requested person's data
      parameters:
        - name: id
          in: path
          description: Id of the person
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The person was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Persons
    put:
      operationId: updatePerson
      summary: Update a person.
      description: Updates a person and returns it.
      parameters:
        - name: id
          in: path
          description: Id of the person
          required: true
          schema:
            type: integer
      requestBody:
        description: Person data to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Person"
      responses:
        "200":
          description: Person was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Persons
  "/products/{group}":
    get:
      operationId: listProducts
      summary: Get products by group.
      parameters:
        - name: group
          in: path
          description: Product group.
          required: true
          schema:
            type: string
          example: expense
      responses:
        "200":
          description: Products were successfully returned.
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/NemoProduct"
                  - $ref: "#/components/schemas/TravelProducts"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Products
  /reports/accounting:
    post:
      operationId: getAccountingReport
      summary: Get accounting reports.
      description: Returns a report generated on the basis of the given parameters.
      requestBody:
        description: Request data for report
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountingReportRequest"
      responses:
        "200":
          description: Report successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountingReportResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Reports
  "/reports/generalledger/{id}":
    post:
      operationId: getGeneralLedgerReport
      summary: Get general ledger report.
      description: Returns a report generated on the basis of the given parameters.
      parameters:
        - name: id
          in: path
          description: Ledger account code identifier
          required: true
          schema:
            type: integer
      requestBody:
        description: Request data for report
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeneralLedgerReportRequest"
      responses:
        "200":
          description: Report successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralLedgerReportResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Reports
  /reports/ledgeraccounts:
    post:
      operationId: getLedgerAccountsReport
      summary: Get ledger accounts report.
      description: Returns a report generated on the basis of the given parameters.
      requestBody:
        description: Request data for report
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LedgerAccountsReportRequest"
      responses:
        "200":
          description: Report successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerAccountsReportResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Reports
  /token:
    post:
      operationId: createToken
      summary: Exchange refresh token for access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
      responses:
        "201":
          description: Token was successfully created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security: []
      tags:
        - Auth
  /vats/country:
    get:
      operationId: getVatStatusesForCountry
      summary: Get VAT percentages for a country.
      description: Returns VAT percentages available for the given country.
      parameters:
        - name: countryCode
          in: query
          description: Country code in ISO 3166-1 alpha-2 format.
          required: true
          schema:
            type: string
          example: DK
      responses:
        "200":
          description: VAT percentages for the selected country were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VatPercentages"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - VATs
  /vats/default:
    get:
      operationId: getVatStatusesForCompany
      summary: Get VAT percentages and VAT statuses for the current company.
      description: Returns VAT percentages and VAT statuses for the current company.
      responses:
        "200":
          description: VAT percentages and VAT statuses were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VatInformation"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - VATs
  /vats/settings:
    get:
      operationId: getVatSettings
      summary: Get VAT settings for the current company.
      description: Returns VAT settings for the current company.
      responses:
        "200":
          description: VAT settings were successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VatSettings"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - VATs
components:
  schemas:
    BinaryContent:
      description: Binary response body used for file/image downloads.
      type: string
      format: binary
    AccountingReportData:
      description: Generated accounting report data.
      type: object
      properties:
        periods:
          description: List of accounting report periods.
          type: array
          items:
            $ref: "#/components/schemas/AccountingReportPeriod"
    AccountingReportPeriod:
      description: List of accounting report periods.
      type: object
      properties:
        startDate:
          description: Start date of the accounting report period.
          type: string
          format: date
        endDate:
          description: End date of the accounting report period.
          type: string
          format: date
        rows:
          description: Accounting report period rows.
          type: array
          items:
            $ref: "#/components/schemas/AccountingReportRow"
          uniqueItems: true
    AccountingReportRequest:
      description: Report parameters that were used to generate the accounting report.
      type: object
      properties:
        startDate:
          description: "Report start date. Optional, if missing, starting date of the tracking period 'endDate' is in will be used. (financial year if not available)"
          type: string
          format: date
        endDate:
          description: Report end date.
          type: string
          format: date
        receiptStatus:
          description: List of receipt statuses for report. Default value depends on company rights.
          type: array
          examples:
            - [APPROVED, SENT, PAID, UNFINISHED]
          items:
            type: string
            enum:
              - APPROVED
              - SENT
              - NOT_SENT
              - PAYMENT_SENT_TO_BANK
              - PAID
              - PARTLY_PAID
              - MARKED_PAID
              - PAYMENT_QUEUED
              - PAYMENT_DENIED
              - UNFINISHED
              - VERIFIED
              - RECEIVED
        type:
          description: Report type.
          type: string
          enum:
            - INCOME_STATEMENT
            - CASH_FLOW
            - BALANCE_SHEET
        options:
          $ref: "#/components/schemas/AccountingReportRequestOptions"
      required:
        - endDate
        - type
    AccountingReportRequestOptions:
      description: Accounting report request options.
      type: object
      properties:
        receiptType:
          description: Receipt types that will be included in the report.
          type: array
          items:
            type: string
            enum:
              - SALES_INVOICE
              - PURCHASE_INVOICE
              - TRAVEL_INVOICE
              - BILL_OF_CHARGES
              - JOURNAL
              - SALARY
              - VAT_FORM
              - EMPLOYER_CONTRIBUTION
              - PERIODIC_TAX_RETURN
              - VAT_SUMMARY
              - SALES_ORDER
              - PURCHASE_ORDER
              - REFERENCE_PAYMENT
              - BANK_STATEMENT_AS_RECEIPT
              - RECEIPT_FOR_OPENING_ACCOUNTS
          examples:
            - [SALES_INVOICE, PURCHASE_INVOICE, TRAVEL_INVOICE]
        receiptCurrency:
          description: Currency for the receipt in ISO 4217 format.
          type: string
          examples:
            - EUR
        receiptName:
          description: Receipt name that will be used in the report.
          type: string
        entryPeriodStart:
          description: Entry period start date that will be used in the report. Date will be rounded down to start of the month.
          type: string
          format: date
        entryPeriodEnd:
          description: Entry period end date that will be used in the report. Date will be rounded up to end of the month.
          type: string
          format: date
        transactionValue:
          description: Transaction value that will be used in the report.
          type: string
        transactionCurrency:
          description: Transaction currency that will be used in the report. Not considered if transaction value is not given.
          type: string
          default: EUR
        reportLanguage:
          description: Language that will be used in the report.
          type: string
        customerCompanyId:
          description: Customer company ID that will be used in the accounting report.
          type: string
    AccountingReportResponse:
      type: object
      properties:
        reportParameters:
          $ref: "#/components/schemas/AccountingReportRequest"
        reportData:
          $ref: "#/components/schemas/AccountingReportData"
    AccountingReportRow:
      description: Accounting report period rows.
      type: object
      properties:
        rowId:
          description: Id of the accounting report row.
          type: integer
        type:
          description: Type of the accounting report row.
          type: string
          enum:
            - BALANCE
            - ROW_FUNCTION
        name:
          description: Name of the accounting row.
          type: string
        value:
          description: Value of the accounting row.
          type: number
        formula:
          description: Accounting row function formula.
          type: string
          externalDocs:
            url: "https://support.procountor.fi/hc/en-us/articles/360019426738-Report-formulas-new"
    AccountingReportTransaction:
      description: Ledger receipt transactions.
      type: object
      properties:
        id:
          description: Ledger transaction ID.
          type: integer
        name:
          description: Ledger receipt name.
          type: string
        receiptNumber:
          description: Ledger receipt number.
          type: integer
        receiptDate:
          description: Ledger receipt date.
          type: string
          format: date
        invoiceDate:
          description: Ledger invoice date.
          type: string
          format: date
        type:
          description: Ledger receipt type.
          type: string
          enum:
            - ACCRUAL
            - BANK_STATEMENT_AS_RECEIPT
            - BILL_OF_CHARGES
            - EMPLOYER_CONTRIBUTION
            - JOURNAL
            - JOURNAL_BYPASSING_INVOICE_PAGE
            - JOURNAL_MOVING_STRAIGHT_TO_ACCOUNTING_PAGE
            - OFFER
            - PAYMENT_CORRECTION
            - PERIODIC_TAX_RETURN
            - PURCHASE_INVOICE
            - PURCHASE_ORDER
            - RECEIPT_FOR_OPENING_ACCOUNTS
            - REFERENCE_PAYMENT
            - SALARY
            - SALES_INVOICE
            - SALES_ORDER
            - TRACKING_PERIOD_OPENING_RECEIPT
            - TRAVEL_INVOICE
            - TRAVEL_PLAN
            - UNKNOWN_RECEIPT_TYPE_F
            - UNKNOWN_RECEIPT_TYPE_G
            - VAT_FORM
            - VAT_SUMMARY
        accountingValue:
          description: Ledger transaction accounting value.
          type: number
        status:
          description: Receipt status.
          type: string
          enum:
            - APPROVED
            - DELETED
            - EMPTY
            - INVALIDATED
            - INVOICED
            - MARKED_PAID
            - NOT_SENT
            - OVERRIDDEN
            - PAID
            - PARTLY_PAID
            - PAYMENT_DENIED
            - PAYMENT_QUEUED
            - PAYMENT_SENT_TO_BANK
            - PAYMENT_TRANSACTION_REMOVED
            - RECEIVED
            - SENT
            - STARTED
            - UNFINISHED
            - UNSAVED
            - VERIFIED
        vatPercent:
          description: Vat percent.
          type: number
        vatAmount:
          description: Vat amount.
          type: number
        vatDeductionPercent:
          description: Vat deduction percent.
          type: number
        vatDeduction:
          description: Vat deduction.
          type: number
        vatStatus:
          description: Vat status.
          type: integer
        transactionDescription:
          description: Ledger Transaction Description.
          type: string
        startDate:
          description: Start date of the transaction.
          type: string
          format: date
        endDate:
          description: End date of the transaction.
          type: string
          format: date
    Attachment:
      type: object
      properties:
        id:
          description: Unique identifier of the attachment. Generated by Procountor and present in the object returned.
          type: integer
          readOnly: true
        name:
          description: Attachment name. Include a correct file extension to the value.
          type: string
          examples:
            - Picture.jpg
        referenceType:
          description: "Reference type of the attachment. Indicates what object is the owner of the attachment. Exception: for JOURNAL type ledger receipts, use type INVOICE."
          type: string
          enum:
            - BANKSTATEMENTEVENT
            - COST_RECEIPT
            - CUSTOMER_BUSINESS_PARTNER_REGISTER
            - EMPLOYEE_INFO
            - ENVIRONMENT
            - FINANCIAL_STATEMENT
            - INVOICE
            - INVOICEDRAFT_ITEM
            - LEDGERRECEIPT
            - NETS_COLLECTION
            - PERSON_BUSINESS_PARTNER_REGISTER
            - PURCHASE_PRODUCT_REGISTER
            - REFERENCE_PAYMENT
            - SALES_PRODUCT_REGISTER
            - SUPPLIER_BUSINESS_PARTNER_REGISTER
        referenceId:
          description: "Unique identifier of the referenced object. Exception: for JOURNAL type ledger receipts, use the value of invoiceId referring to the associated invoice."
          type: integer
        mimeType:
          description: Mime type of the attachment. Determined from the file extension.
          type: string
          externalDocs:
            url: "http://www.freeformatter.com/mime-types-list.html"
        sendWithInvoice:
          description: "Indicator if attachment has to be send with the invoice. 'sendWithInvoice' can be set only for receipt types: SALES_INVOICE, SALES_ORDER, PURCHASE_ORDER"
          type: boolean
      required:
        - name
        - referenceId
        - referenceType
        - sendWithInvoice
    AttachmentRename:
      type: object
      properties:
        name:
          description: Attachment name. Include a correct file extension to the value.
          type: string
          examples:
            - Picture.jpg
      required:
        - name
    BankAccount:
      description: Bank account number.
      type: object
      properties:
        accountNumber:
          description: "Bank account IBAN. If using a financing agreement, the account number must match the account of the specified financing agreement. The account number must be valid for the specified country, include country code and exclude any spaces."
          type: string
          externalDocs:
            description: Information about adding bank accounts in Procountor.
            url: "http://support.procountor.com/en/maksuliikenne/pankkiyhteydet.html"
        bic:
          description: Bank account BIC/SWIFT. Not supported for SALES_INVOICE and SALES_ORDER.
          type: string
    BasicInvoicingInfo:
      description: Basic invoicing information.
      type: object
      properties:
        customerNumber:
          description: Customer number of the partner.
          type: string
        identifier:
          description: Identifier of the partner.
          type: string
        identifierType:
          description: Identifier type of the partner.
          type: string
    BasicRegistryInfo:
      description: Registry info data of the partner.
      type: object
      properties:
        active:
          description: Status of the partner.
          type: boolean
      readOnly: true
    BusinessIdentifier:
      description: Company identifier of current company.
      type: object
      properties:
        brnType:
          description: "Business Registration Number (BRN) type of current company identifier. (example values: HETU, SSN, FI, NO,...)"
          type: string
          examples:
            - HETU
          enum:
            - ASSN
            - DK
            - FI
            - HETU
            - "NO"
            - PN
            - SE
            - SSN
            - YHD
        code:
          description: "Business Registration Number (BRN) code (Example value: ''1234567-8'', basically BRN without type prefix)."
          type: string
          examples:
            - 1234567-8
          maxLength: 25
          minLength: 0
    BusinessPartner:
      type: object
      properties:
        id:
          description: Unique identifier of the partner.
          type: integer
          readOnly: true
        name:
          description: Name of the partner.
          type: string
          maxLength: 80
          minLength: 1
        type:
          description: Type of the partner.
          type: string
          enum:
            - CUSTOMER
            - SUPPLIER
            - PERSON
        address:
          $ref: "#/components/schemas/BusinessPartnerAddress"
        billingAddress:
          $ref: "#/components/schemas/BusinessPartnerBillingAddress"
        deliveryAddress:
          $ref: "#/components/schemas/BusinessPartnerDeliveryAddress"
        invoicingInfo:
          $ref: "#/components/schemas/InvoicingInfo"
        attachments:
          description: List of attachments added to the business partner.
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
          readOnly: true
        contactPersons:
          description: Contact persons of the partner.
          type: array
          items:
            $ref: "#/components/schemas/BusinessPartnerContactPerson"
        additionalInfo:
          $ref: "#/components/schemas/BusinessPartnerAdditionalInfo"
        paymentInfo:
          $ref: "#/components/schemas/BusinessPartnerPaymentInfo"
        registryInfo:
          $ref: "#/components/schemas/RegistryInfo"
        version:
          description: "Business partner version timestamp. Automatically generated by Procountor and updated every time the partner is modified. When using PATCH /businesspartners, it is required to include the latest version timestamp of the partner to the request. This prevents conflicts if the partner is being modified from several sources.It is not required for POST and will be omitted"
          type: string
          format: date-time
          x-ogen-time-format: 2006-01-02T15:04:05
      required:
        - name
        - paymentInfo
        - type
    BusinessPartnerAccount:
      description: Default account of the given type.
      type: object
      properties:
        code:
          description: Code of the account.
          type: string
        name:
          description: Name of the account.
          type: string
    BusinessPartnerAccountsInfo:
      description: Default accounts for the given invoice type.
      type: object
      properties:
        debitAccount:
          $ref: "#/components/schemas/BusinessPartnerAccount"
        creditAccount:
          $ref: "#/components/schemas/BusinessPartnerAccount"
        reconciliationAccount:
          $ref: "#/components/schemas/BusinessPartnerAccount"
    BusinessPartnerAdditionalInfo:
      description: Additional info of the partner.
[...]
